name: Deploy Dezswap Indexer

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    uses: ./.github/workflows/publish.yml
    with:
      app_type: indexer
      path_exclude_prefix: api
    secrets:
      GCP_GAR_REPOSITORY: ${{ vars.GCP_GAR_REPOSITORY }}
      GCP_REGION: ${{ vars.GCP_REGION }}
      GCP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
      GCP_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GCP_SERVICE_ACCOUNT_EMAIL }}
